.section-mobile-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  gap: 12rem;
  background-color: var(--clr-blue-1);
  border-bottom: 1.5px solid rgb(77, 77, 77);

  overflow-x: hidden;

  @include respond(tab-landscape) {
    gap: 8rem;
  }

  @include respond(tab-portrait) {
    gap: 4rem;
  }

  @include respond(wide-phone) {
    gap: 1rem;
  }

  &__heading {
    @include respond(tab-landscape) {
      padding-top: 4rem;
    }

    line-height: 7.1rem;
  }

  &__info {
    margin-bottom: 14rem;

    p {
      font-weight: 500;
      font-size: var(--font-size-medium-3);
      color: var(--clr-grey-1);
    }
  }

  &__button {
    @include big-button-default;
    margin-bottom: 2.4rem;
    position: relative;
    z-index: 6;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: relative;
  }

  &__socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include respond(tab-portrait) {
      scale: 0.8;
    }

    @include respond(phone) {
      scale: 0.6;
    }

    @include respond(narrow-phone) {
      scale: 0.3;
    }
  }

  &__left-mobile-shape,
  &__right-mobile-shape {
    position: absolute;
    bottom: 0;

    @include respond(tab-landscape) {
      scale: 0.8;
    }

    @include respond(tab-portrait) {
      scale: 0.6;
    }
  }

  &__left-mobile-shape {
    width: 37.3rem;
    left: 0;

    @include respond(tab-landscape) {
      left: -4.8rem;
      bottom: -3.4rem;
    }

    @include respond(tab-portrait) {
      left: -10%;
      bottom: -10%;
    }

    @include respond(wide-phone) {
      scale: 0.6;
      left: -8rem;
      bottom: -6.9rem;
    }

    @include respond(phone) {
      scale: 0.5;
      left: -10rem;
      bottom: -8.6rem;
    }
  }

  &__right-mobile-shape {
    width: 30rem;
    right: 0;

    @include respond(tab-landscape) {
      right: -4rem;
      bottom: -5.5rem;
    }

    @include respond(tab-portrait) {
      right: -8%;
      bottom: -16%;
    }

    @include respond(wide-phone) {
      right: -6rem;
      bottom: -11.4rem;
    }

    @include respond(phone) {
      scale: 0.5;
      right: -8rem;
      bottom: -14.1rem;
    }
  }

  &__left-sparkle {
    position: absolute;

    @include respond(tab-landscape) {
      scale: 0.8;
    }

    @include respond(tab-portrait) {
      scale: 0.7;
      transform: translate(6rem, 4rem);
    }

    @include respond(wide-phone) {
      scale: 0.5;
      transform: translate(1rem, 4rem);
    }

    @include respond(phone) {
      scale: 0.4;
    }

    @include respond(narrow-phone) {
     display: none;
    }

    &--large {
      top: 47%;
      left: 0;
      @include respond(phone) {
        scale: 0.4;
      }
    }
    &--medium {
      scale: 0.5;
      top: 39%;
      left: 7%;

      @include respond(phone) {
        scale: 0.3;
      }
    }
    &--small {
      scale: 0.25;
      top: 33%;
      left: 4%;

      @include respond(phone) {
        scale: 0.1;
      }
    }
  }

  &__download-button-shape {
    position: absolute;
    scale: 0.5;
    bottom: 26%;
    left: 51%;
    z-index: 6;

    @include respond(tab-portrait) {
      scale: 0.4;
      bottom: 25%;
      left: 49%;
    }

    @include respond(wide-phone) {
      scale: 0.3;
      bottom: 21%;
      left: 45%;
    }

    @include respond(phone) {
      scale: 0.2;
      bottom: 13%;
      left: 36%;
    }
  }
}
