.header-dropdown-desktop {
  position: absolute;
  top: 11rem;
  right: 4rem;
  background-color: var(--clr-white);
  border-radius: 0rem 0rem 9rem 0rem;
  overflow-y: hidden;
  max-height: 0;

  transition: all 0.2s;

  @include respond(tab-landscape) {
    display: none;
  }

  &--active {
    max-height: 45rem;
  }
}

.header-dropdown-desktop__lists-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 28rem);
  grid-template-rows: repeat(2, min-content);
  column-gap: 5rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      color: var(--clr-grey-dark);
      font-size: var(--font-size-medium-4);
    }

    li:nth-child(1) {
      font-size: var(--font-size-medium-4);
      color: var(--clr-grey-default);
      text-transform: uppercase;
      margin-bottom: 0.8rem;
    }
  }

  ul:nth-child(2) {
    height: 140%;
  }

  ul:nth-child(1),
  ul:nth-child(2) {
    border-right: 1px solid var(--clr-grey-default);
  }

  ul:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: -2rem;
    padding-top: 2rem;

    border-top: 1px solid var(--clr-grey-default);
  }
}
