*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  /*  border: 2px solid red; */
}

body {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  &:link {
    text-decoration: none;
    color: var(--clr-black);
  }
  &:visited {
    color: var(--clr-black);
  }
  &:hover {
    color: var(--clr-red-main);
  }
}
