*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  /*   border: 2px solid red; */
}

body {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 1.2;
}

input:focus {
  outline: 0;
}
