.section-partners {
  height: 30.8rem;
  background-color: rgb(250, 250, 250);

  margin-bottom: 5rem;
  overflow: hidden;

  @include respond(wide-phone) {
    height: 21rem;
  }

  &__heading {
    width: 65%;
    margin: 0 auto;
    padding: 4rem 0;

    @include respond(desktop-small) {
      width: 75%;
    }

    @include respond(wide-phone) {
      width: 100%;
      padding: 1rem 3rem;
      
      h2 {
        align-self: center;
      }
    }
  }
}
