.section-news {
  margin-bottom: 10rem;

  @include respond (wide-phone) {
    margin-bottom: 4rem;
  }
  &__news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;

    @include respond (wide-phone) {
      flex-direction: column;
    }
  }
}
