:root {
  //COLORS
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);

  --clr-grey-1: rgb(77, 77, 77);

  --clr-red-main: rgb(205, 70, 49);

  --clr-champagne-main: rgb(247, 237, 232);
  --clr-blue-1: rgb(237, 243, 247);
  --clr-blue-2: rgb(129, 173, 200);

  //FONTS

  --font-family-default: "Montserrat Alternates", sans-serif;

  --font-size-large-1: 9.6rem;
  --font-size-large-2: 5.93rem;
  --font-size-large-3: 3.65rem;

  --font-size-medium-1: 2.26rem;
  --font-size-medium-2: 1.6rem;
  --font-size-medium-3: 1.4rem;

  --font-size-small-1: 1.2rem;
}
