.section-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16rem;
  margin-bottom: 18rem;

  @include respond(tab-landscape) {
    padding: 0 2rem;
    margin-bottom: 12rem;
  }

  @include respond(wide-phone) {
    margin-bottom: 7rem;
  }

  &__heading {
    position: relative;
    margin-bottom: 4rem;
    font-size: var(--font-size-large-7);
    font-weight: 400;

    &::before {
      @include heading-square-pseudo;
      top: 2rem;
      left: -3rem;

      @include respond(tab-landscape) {
        top: 0.5rem;
        left: -3rem;
      }
    }

    @include respond(tab-landscape) {
      font-size: var(--font-size-medium-3);
    }
  }
}

.section-news > .section-news__button {
  border: 1px solid var(--clr-red-default);
  color: var(--clr-black);
  width: 20%;
  font-weight: 400;
  @include respond(tab-landscape) {
    width: 40%;
  }

  @include respond(wide-phone) {
    width: 100%;
  }
}
