.section-book {
  margin-bottom: 7.2rem;

  overflow: hidden;
  &__grid {
    padding: 0 2rem;
  }
}

.book-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 7rem;
  column-gap: 3.6rem;
  position: relative;

  @include respond(wide-desktop) {
    grid-template-columns: 1.5fr 1fr;
  }

  @include respond(pre-wide-desktop) {
    grid-template-columns: 1.5fr 1fr;
  }

  @include respond(tab-portrait) {
    grid-template-columns: minmax(30rem, 1fr) max-content;
    row-gap: 5rem;
  }

  @include respond(wide-phone) {
    display: flex;
    flex-direction: column;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    row-gap: 4rem;
  }

  &__text {
    height: fit-content;
    font-size: var(--font-size-large-3);
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;

    @include respond(tab-landscape) {
      text-align: left;
    }
  }
  &__form {
    position: relative;
    grid-column: 2;
    grid-row: 1 / -1;
    padding: 2.6rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    @include respond(phone) {
      grid-column: 1;
      grid-row: 1 / -1;
      gap: 24px;
    }
    select,
    input {
      all: unset;
      position: relative;
      display: block;
      width: 100%;
      font-size: var(--font-size-medium-2);
      font-style: italic;
      font-weight: 400;

      &::placeholder {
        opacity: 1;
        color: var(--clr-black);
      }

      @include respond(wide-phone) {
        font-size: var(--font-size-medium-1);
      }
    }

    &__map {
      z-index: 10;
    }
  }

  &__select-container {
    transition: all 0.3s;

    position: relative;
    &::before {
      position: absolute;
      content: url("/images/section-book/choose-arrow.png");
      top: 0;
      right: 2%;
      pointer-events: none;

      @include respond(phone) {
        top: 0;
        right: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid black;
      width: 100%;

      @include respond(phone) {
        bottom: -10px;
      }
    }
  }

  &__input {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid black;
      width: 100%;

      @include respond(phone) {
        bottom: -10px;
      }
    }
  }

  &__input--error {
    color: var(--clr-red-main);
  }

  &__map {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 44rem;

    &--mobile {
      padding: 10px 0;
    }
  }

  &__button {
    align-self: center;
    border-radius: 10px;
    height: 60px;
    text-align: center;

    @include respond (wide-desktop) {
      height: 110px;
      padding: 1rem 4rem;
    }

    @include respond (pre-wide-desktop) {
      height: 90px;
    }

    @include respond (tab-landscape) {
      height: 70px;

    }

    @include respond(tab-portrait) {
      height: 50px;
    }
  }
}

.date-placeholder,
.time-placeholder {
  position: absolute;

  @include respond(wide-phone) {
    font-size: var(--font-size-medium-1);
  }
}

#date,
#time {
  opacity: 0;
}
