:root {
  // FONTS
  --font-family-default: "Roboto", sans-serif;

  --font-size-default: 1.6rem;

  --font-size-large-1: 4.2rem;
  --font-size-large-2: 3.2rem;
  --font-size-large-3: 2.8rem;

  --font-size-medium-1: 2.4rem;
  --font-size-medium-2: 2.2rem;
  --font-size-medium-3: 2rem;
  --font-size-medium-4: 1.8rem;
  --font-size-medium-5: 1.6rem;

  --font-size-small-1: 1.4rem;
  --font-size-small-2: 1.3rem;
  --font-size-small-3: 1.2rem;
  --font-size-small-4: 1rem;
  --font-size-small-5: .8rem;

  //COLORS
  --clr-red-default: rgba(220, 68, 51, 1);
  --clr-red-dark-1: rgba(203, 20, 0, 1);

  --clr-grey-default: rgba(66, 66, 66, 1);
  --clr-grey-dark: rgba(33, 33, 33, 1);
  --clr-grey-light: rgba(199, 199, 199, 1);
  --clr-grey-light-2: rgba(226, 226, 226, 1);

  --clr-black: rgba(0, 0, 0, 1);
  --clr-white: rgba(255, 255, 255, 1);
}
